## Pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [19]:
np.random.seed(101) #for getting same number of random numbers at a time
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

##### Selecting Columns

In [20]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
print(type(df['W']))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [24]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

##### to add a new column

In [25]:
df['WX'] = df['W'] + df['X']
df

          W         X         Y         Z        WX
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

#### to remove a column

In [26]:
df.drop('WX',axis=1,inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### to remove a row

In [27]:
df.drop("E",axis=0,inplace=False)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

##### axis=0 and axis=1

In [31]:
print("(Rows, Columns): ",df.shape) #axis=0 indicates row and axis=1 indicates column
df

(Rows, Columns):  (5, 4)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Selecting Rows

In [32]:
df.loc['B'] #name based location

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [33]:
df.iloc[1] #index based location

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [34]:
df.loc['B','Y']

-0.8480769834036315

In [35]:
df.loc[['A','B'],['W','X','Z']]

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965

#### Conditional Selection

In [37]:
booldf = df > 0
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [38]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [40]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [42]:
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [43]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [47]:
booldf = df['W'] > 0
result = df[booldf]
mycols = ['X','Y']
result[mycols]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

##### multiple conditions

In [48]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [49]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Reset the index

In [53]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

##### reset_index method

In [59]:
df.reset_index(inplace=False)

  index         W         X         Y         Z states States
0     A  2.706850  0.628133  0.907969  0.503826     AB     AB
1     B  0.651118 -0.319318 -0.848077  0.605965     CD     CD
2     C -2.018168  0.740122  0.528813 -0.589001     EF     EF
3     D  0.188695 -0.758872 -0.933237  0.955057     GH     GH
4     E  0.190794  1.978757  2.605967  0.683509     IJ     IJ

In [60]:
newindex = 'AB CD EF GH IJ'.split()
newindex

['AB', 'CD', 'EF', 'GH', 'IJ']

In [66]:
df['States'] = newindex
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     AB
B  0.651118 -0.319318 -0.848077  0.605965     CD
C -2.018168  0.740122  0.528813 -0.589001     EF
D  0.188695 -0.758872 -0.933237  0.955057     GH
E  0.190794  1.978757  2.605967  0.683509     IJ

##### set_index method

In [67]:
df.set_index('States',inplace=False)

               W         X         Y         Z
States
AB      2.706850  0.628133  0.907969  0.503826
CD      0.651118 -0.319318 -0.848077  0.605965
EF     -2.018168  0.740122  0.528813 -0.589001
GH      0.188695 -0.758872 -0.933237  0.955057
IJ      0.190794  1.978757  2.605967  0.683509

In [68]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     AB
B  0.651118 -0.319318 -0.848077  0.605965     CD
C -2.018168  0.740122  0.528813 -0.589001     EF
D  0.188695 -0.758872 -0.933237  0.955057     GH
E  0.190794  1.978757  2.605967  0.683509     IJ