## Pandas DataFrame

In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['A1', 'A2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
np.random.seed(42)
df = pd.DataFrame(randn(6,2),hier_index,['X','Y'])
df

             X         Y
A1 1  0.496714 -0.138264
   2  0.647689  1.523030
   3 -0.234153 -0.234137
A2 1  1.579213  0.767435
   2 -0.469474  0.542560
   3 -0.463418 -0.465730

In [13]:
df.index.names = ['OutsideIndex','InsideIndex']
df

                                 X         Y
OutsideIndex InsideIndex
A1           1            0.496714 -0.138264
             2            0.647689  1.523030
             3           -0.234153 -0.234137
A2           1            1.579213  0.767435
             2           -0.469474  0.542560
             3           -0.463418 -0.465730

In [10]:
df.loc['A1']

          X         Y
1  0.496714 -0.138264
2  0.647689  1.523030
3 -0.234153 -0.234137

In [15]:
df.loc['A1'].loc[2]['X']

0.6476885381006925

In [16]:
df.xs('A2') #crosssection(xs) has same ability like loc incase of multilevel dataframe

                    X         Y
InsideIndex
1            1.579213  0.767435
2           -0.469474  0.542560
3           -0.463418 -0.465730

In [20]:
df.xs(1,level='InsideIndex') #for grabbing of the value of '1' row from any section

                     X         Y
OutsideIndex
A1            0.496714 -0.138264
A2            1.579213  0.767435